<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ASH_MESSAGE_PADDING_SIZE</key>
	<integer>32</integer>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>ja</string>
		<string>pt-BR</string>
		<string>sk</string>
		<string>zh-Hans</string>
	</array>
</dict>
</plist>
